In [0]:
import pandas as pd
import numpy as np

In [2]:
# Install the PyDrive wrapper & import libraries.
# This only needs to be done once per notebook.
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client.
# This only needs to be done once per notebook.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

     |████████████████████████████████| 993kB 5.0MB/s
  Building wheel for PyDrive (setup.py) ... done

In [0]:
# List .csv files in the root.
#
# Search query reference:
# https://developers.google.com/drive/v2/web/search-parameters
listed = drive.ListFile({'q': "title contains '.csv'"}).GetList()

# The code below will output a list of all the .csv files
# for file in listed:
#   print('title {}, id {}'.format(file['title'], file['id']))

In [0]:
# Download the "modes performance to visualize.csv"

file_id = '0Bw7LkoymU5okWC10Yk1sTThkdDBxRGo3X1ZoZWVyVGhYcWgw'
downloaded = drive.CreateFile({'id': file_id})
#print('Downloaded content "{}"'.format(downloaded.GetContentString()))
downloaded.GetContentFile("performance.csv")

In [5]:
performance_df = pd.read_csv('performance.csv')
print(performance_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 27 columns):
variables                   5 non-null object
RMSE                        5 non-null float64
SD.Error                    5 non-null float64
RMSE.Actual.change          5 non-null float64
SD.Actual.change            5 non-null float64
MPE                         5 non-null float64
SD.PE                       5 non-null float64
MAPE                        5 non-null float64
SD.APE                      5 non-null float64
Accuracy.2X2                5 non-null float64
F1.score.Up                 5 non-null float64
F1.score.Down               5 non-null float64
Accuracy.3X3.5.             5 non-null float64
Bad.predictions.3X3.5.      5 non-null float64
Accuracy.3X3.2.5.           5 non-null float64
Bad.predictions.3X3.2.5.    5 non-null float64
F1_ave                      5 non-null float64
F1_ave7525                  5 non-null float64
RMSE_point                  5 non-null int64
F1up_point                  5 non-null int64
F1down_point                5 non-null int64
F1ave_point                 5 non-null int64
F1ave7525_point             5 non-null int64
A3x3_point                  5 non-null int64
B3x3_point                  5 non-null int64
points_total                5 non-null int64
Top_models                  5 non-null int64
dtypes: float64(17), int64(9), object(1)
memory usage: 1.1+ KB
None

In [6]:
performance_df.head()

                                           variables  ...  Top_models
0  VECM_1_1,P1A_03,AIS_Panamax,TC5~TCE,P2A_03,BCI...  ...           1
1  VECM_1_2,P1A_03,AIS_Panamax,ICE_TIB4,ICE_SB1,I...  ...           1
2  VAR,P1A_03,AIS_Panamax,ICE_NCF2,CME_CL2,ICE_TI...  ...           1
3  VAR,P1A_03,AIS_Panamax,ICE_NCF2,ICE_ATW2,CME_N...  ...           1
4  VAR,P1A_03,AIS_Panamax,CME_NG1,ICE_TIB2,ICE_AT...  ...           1

[5 rows x 27 columns]

Visualizations

In [0]:
feature_lst = []
for i in range(performance_df.shape[0]):
  feature_lst+= performance_df.variables.str.split(",")[i]

In [8]:
s= feature_lst
feature_df = performance_df.variables.str.get_dummies(sep=',').reindex(columns=s)
feature_df.shape

(5, 80)

In [9]:
_,i = np.unique(feature_df.columns, return_index=True)
feature_df = feature_df.iloc[:, i]
feature_df.shape

(5, 29)

In [16]:
feature_df.T

             0  1  2  3  4
AIS_Panamax  1  1  1  1  1
AWS          0  0  1  1  1
BCI          1  0  0  0  0
CME_CL2      0  0  1  0  0
CME_NG1      0  0  1  1  1
DB_1         1  1  0  0  0
DB_3         1  1  0  0  0
DB_4         0  0  1  1  1
DB_5         1  1  1  1  1
DB_6         0  0  1  1  1
DL_2         1  1  1  1  1
DL_3         1  1  0  0  0
DP_2         1  1  1  1  1
DP_3         0  0  1  1  1
DP_6         1  1  0  0  0
ICE_ATW2     0  1  0  1  1
ICE_NCF2     0  0  1  1  1
ICE_SB1      0  1  0  0  0
ICE_TIB2     0  0  1  1  1
ICE_TIB4     0  1  0  0  0
P1A_03       1  1  1  1  1
P2A_03       1  0  0  0  0
RICI         1  1  0  0  0
SB           1  1  1  1  1
SL           1  1  1  1  1
TC5~TCE      1  0  0  0  0
VAR          0  0  1  1  1
VECM_1_1     1  0  0  0  0
VECM_1_2     0  1  0  0  0

In [11]:
performance_df.merge(feature_df, on=feature_df.index)

   key_0                                          variables  ...  VECM_1_1  VECM_1_2
0      0  VECM_1_1,P1A_03,AIS_Panamax,TC5~TCE,P2A_03,BCI...  ...         1         0
1      1  VECM_1_2,P1A_03,AIS_Panamax,ICE_TIB4,ICE_SB1,I...  ...         0         1
2      2  VAR,P1A_03,AIS_Panamax,ICE_NCF2,CME_CL2,ICE_TI...  ...         0         0
3      3  VAR,P1A_03,AIS_Panamax,ICE_NCF2,ICE_ATW2,CME_N...  ...         0         0
4      4  VAR,P1A_03,AIS_Panamax,CME_NG1,ICE_TIB2,ICE_AT...  ...         0         0

[5 rows x 57 columns]

In [0]:
import plotly
plotly.__version__
plotly.tools.set_credentials_file(username='ritalulu123', api_key='mcPsXGYiHGp6rrOlr7YQ')

In [0]:
import plotly.plotly as py
import plotly.graph_objs as go

Visualize RMSE

In [19]:
data = [
    go.Bar(
        x=performance_df['variables'], # assign x as the dataframe column 'x'
        y=performance_df['RMSE']
    )
]

# IPython notebook
py.iplot(data, filename='pandas-bar-chart')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~ritalulu123/0 or inside your plot.ly account where it is named 'pandas-bar-chart'

Radar chart

In [0]:
data = [{
  type: 'scatterpolar',
  r: [39, 28, 8, 7, 28, 39],
  theta: ['A','B','C', 'D', 'E', 'A'],
  fill: 'toself'
}]

layout = {
  polar: {
    radialaxis: {
      visible: true,
      range: [0, 50]
    }
  },
  showlegend: false
}

Plotly.plot("myDiv", data, layout)