In [0]:
import pandas as pd
import numpy as np

In [0]:
# Install the PyDrive wrapper & import libraries.
# This only needs to be done once per notebook.
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client.
# This only needs to be done once per notebook.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

     |████████████████████████████████| 993kB 5.0MB/s
  Building wheel for PyDrive (setup.py) ... done

In [0]:
# List .csv files in the root.
#
# Search query reference:
# https://developers.google.com/drive/v2/web/search-parameters
listed = drive.ListFile({'q': "title contains '.csv'"}).GetList()
for file in listed:
  print('title {}, id {}'.format(file['title'], file['id']))

title modes performance to visualize.csv, id 0Bw7LkoymU5okWC10Yk1sTThkdDBxRGo3X1ZoZWVyVGhYcWgw
title AIS data features.csv, id 0Bw7LkoymU5okZ2pOSWtMc3RaX2pfOTFLSjU4TWVKdUdiZjhN
title train.csv, id 1hV1i4tvRJTnl_cn6IwQrdwpzaBQOyWlV
title test.csv, id 1hhQZRwenjM4u0FtCpAZ4VD_vW1Xb_7c3
title sample.csv, id 1ciD3EpEDdNTSTBRBMAziVxw45_ehzsvu
title sample_output_10.csv, id 1j9kIRA9k0tFCwOcUBhUX8eNZ2pwvuaSW
title sample_output_16.csv, id 16USafa0hQr_boyNdh9Oa07_5dD2fNS7a
title sample_output_14.csv, id 1XnySNwXhMsajng8U_JzH0WEPbZM6N374
title money_flow_index_10.csv, id 11OcWT48qYSbwCj3wYsvF0l-pEOP8qP8W
title LoughranMcDonald_MasterDictionary_2018.csv, id 12ECPJMxV2wSalXG8ykMmkpa1fq_ur0Rf
title Lavendar Town Factory - February 2017.csv, id 1xcORDGdXCyV1czGrW8cYt7nAc0Lq23eg
title Lavendar Town Factory - March 2017.csv, id 1sO3WknVE-aQhwv8i3xNcDDRxetguhJNr
title Celadon City Factory - March 2017.csv, id 1y3XGmGAXKPSUq1W4brEj6NL1i8nTAE8h
title FactoryAttributes.csv, id 1XVjpPC6hmw2L-ra4BKRkDCNHo1uUSG25
title Celadon City Factory - January 2017.csv, id 1U0CLnTZzJkQP5seaadefi3bljnyB8cJS
title Viridian City Factory - January 2017.csv, id 1ehRhqtYPXiN3J2SiEQ536sI2njGZGZ_7
title Saffron City Factory - March 2017.csv, id 1p2MFmwnx7doeEOuAwF5DTO1LEtRjMY2W
title Celadon City Factory - February 2017.csv, id 1u_UK0hIrYekadYf4AhVqfLXxMJuaZeSD
title Saffron City Factory - February 2017.csv, id 1AAbxUW4jdRYXAehUZUy7eOBmnQfRCzpE
title Saffron City Factory - January 2017.csv, id 1CFYcgzX7K4BVJ3TO3vJ0TogVVuen71Q_
title Viridian City Factory - February 2017.csv, id 1eNBcTASjgshbtZ3KUuVD8rhDjoYePXvU
title Viridian City Factory - March 2017.csv, id 1qn6-fLAX5dreFHWx7cWNlyeOnHyxSvqX
title Lavendar Town Factory - January 2017.csv, id 1Lb5CGhYeDtzIcEK01Yj6_sNNgOd0O2pE
title traininglabels.csv, id 1IaCWHv5Y5pJ2REoIYcYZgkS5ZN8LWKh7
title SampleSubmission.csv, id 1PHp4gLG1bwDlBea2ES4nLP4YwoBCloFE
title Labour-Force-Monthly-Australia.csv, id 1SjWbuP8t9981G2Prhcecc4O45stD58zU
title 4-c.csv, id 1yoXEubWOLu_KWeehpmWd1L_UG-_F1b7l
title 7-ac.csv, id 1Pb4rCzzbodkfnom0LIhYuzqsssGcVzkt
title 6-ab.csv, id 142A676UPI3MYK5SqKUBNtiGkjx6Bi4n8
title 3-b.csv, id 1uo23SgiDauUCS3BgwMUEIHUU9xIFnE6R
title 5-d.csv, id 1P3EV2qkVFZuo0_lYaovsyOpmpsSEM3OT
title 2-a.csv, id 1xexRFb6i7M5tNkKYHN_opfU1h77srgBu
title 16-abcd.csv, id 1BaFzUcc2nVdChuPz21MceyO27ginmQ5A
title 12-abc.csv, id 1gz69oMDJm2P_LwigxaGOeKuHG7wFoPuE
title 11-cd.csv, id 1ctCRB-roprsIZEzLVXrcRcOh0ft3c9n_
title 14-acd.csv, id 1iEgZ86WDsP7hxnP6akmb0x2HXqbfNNH8
title 15-bcd.csv, id 15UP0Hx8W3ISgRJTKp7x1taJDB6-5rJMM
title 10-bd.csv, id 1nZv_RSv7HVvbP50nkH8FymMVs8FCpHcR
title 1-1.csv, id 1rKqG03SoRUDFmtqFTpUJRae8WrnHlT9s
title 9-bc.csv, id 1icsn0lbSpbWwAlOFsGkY9AYdl1aNio94
title 13-abd.csv, id 1WMU_9GALgM-m51VsUhD6qcpRRwksEANA
title 8-ad.csv, id 1uFdS4uzTkVmTNwl9JTnrrb_aRjgcG5ps
title 9-bc.csv, id 1iCxronBRlEqKzOl5riACxMbfEZgrxSQr
title 2-a.csv, id 1NU86wUR6Y86PIED_knyB1QrnqK3dNxLS
title 16-abcd.csv, id 1N2nb0hBnBMbf7wnFQTV8JpzMIbHWKHje
title 12-abc.csv, id 1rdabzBLTo-Qqze9EAeYUftbNei2Z_E8i
title 14-acd.csv, id 1Y3G6RWaA_-tNmBybY3e6pxz5PwHFR2Uk
title 13-abd.csv, id 10eMI7Tu1VGYPOc_HsWTensmLxJzwRraE
title 15-bcd.csv, id 14SnIWXWrLsJMVqFBQLp0GDFZtMhtX5pB
title 11-cd.csv, id 1SfwUJSq-lGva4qnqndG8iYmlohCwaXis
title 7-ac.csv, id 1o2TToYAlvQBcUPO7MCH6Im3Bm3Uj5Q8G
title 4-c.csv, id 1XbtU18HjQN4rN2OP6xe_Y7sVMzmh-0cc
title 5-d.csv, id 1ujwPFgi9wrelbKBBFngs06_XDQYcde2i
title 10-bd.csv, id 18QPSG0TT-mTAX9TLPku4fiDpY95E_boP
title 3-b.csv, id 1OIf2MhtTYRyKjoc7s548l5l9YY4DkE0L
title 6-ab.csv, id 14l6CWIVl30Ih_a-rGY56U6WrkncM1Hwa
title 8-ad.csv, id 13xhnr6g40-HnXf6ZFA0ehyEc2Aka-4S9
title 1-1.csv, id 1mQCQWbG54DoDPcYbhAZD9kQuXKak1rsz
title twitter_1201.csv, id 1vRmm1bwwAzhHYYnUAqyl9QCeOxGyXieE
title twitter_1201.csv, id 1BPLOuJp0dKBM7C0ZtFvbmDMLpZlWj7cc
title twitter_onetweet_rgb2.csv, id 1E-JO7pAgtVqgIhn71E7mURiZeBsQ4d6V
title twitter_sentiment.csv, id 1ik2wY4E1TpsW0REUmDkiOBOTWaf57d8I
title one-way anova.csv, id 1kUal1mwEwj0nCbUJvYwFdkh33BxD2FbB
title 13-abce.csv, id 1SrJYGnnPRU5kOeaJknZmk19HuZQfLYkG
title 16-bcde.csv, id 18bQm2l_0zKNZTETrAqzGcodug9FpwLh9
title 15-acde.csv, id 18tJYJVMCK8Td-7lbqF7_DNWEkZm4rx-r
title 12-abcd.csv, id 1HCPQq5shpkaKmA4jf-lPSZWm1iOpOfUe
title 14-abde.csv, id 1V9gGoWnINZKKs1iEJ-anqCTMkQZxbr9v
title 11-de.csv, id 1oCKgC_63h6DNbI_HNC4QNA33Ixv-YB3U
title 10-ce.csv, id 16j-Fg9goFhcaL5dHnNyjbroOGU7A27mT
title 9-cd.csv, id 1iM-1tdtU1xy19FEXiCDkWIL5R3mdxsm6
title 7-bd.csv, id 16k2TO4px0TJM87TzGZtIHirMWHWKrh3t
title 2-ab.csv, id 1QIgZC_LZ4NfL3uGj52nMntFRVbJmV8Vl
title 3-ac.csv, id 1tbJ6rSGDln3I5lj-eQXwI0DAh44OGiiW
title 5-ae.csv, id 1vzFz5iFXOa0IVrV5roMvDU2y18fYgcdh
title 4-ad.csv, id 1BecvdpQkA2NVotyl4v5ex6Khk3NE0HIQ
title 8-be.csv, id 1pC3UGEsrVAx0YZvi8E9KVI1HJkXXM4B5
title 6-bc.csv, id 1kfMcKc6e03vy2SEhUFFvYxmiG43tokvq
title 1-1.csv, id 1wp5FnSgXJ9GauPDS-E4QDtzqmITDUD1g
title twitter_onetweet_rgb.csv, id 1fT2NVNXQnSecv5ejrN-VKoiGzhKZnt1c
title twitter_onetweet.csv, id 13T1X04b1VGia2Bqd-FPo9SIci3YAuFYC
title BlackFriday.csv, id 1zcOE6HKltL54SBPO4DWq8MRpqGba0AS8
title BlackFriday.csv, id 14fWjJJ1mWN5k2onLKbWUO7BqCwKa_SD6
title BlackFriday.csv, id 1SHsftCzR1QPpvNN-YOBy67F8OLTAG9Sm
title twitter_rgb.csv, id 1CgPnecKEzO133bhi1AIhndGW2CBYvha8
title twitter_combinedtext.csv, id 1YOg7FVHRUx-kRqG4-o8LEpVIECjitfGz
title ca_zip_median_income.csv, id 1iYP5fb0ugNWHeZFAYbJ5SPDJUjNFQNDR
title ny_zip_median_income.csv, id 1qfc4pgeCJwxchMhW6gjp5HgeDbtXqJjQ
title wa_zip_median_income.csv, id 1efYNy0WpCJraJvixaabAxRWg8ptFusOk
title State Populations.csv, id 15gOc97p_tI2OisDtCH_Zst3tT0eiM6Wd
title lookup.csv, id 1E26RhhOrOI-4wERL9JCMrQJSF-ETLR8Z
title FuzzyData2_mergewithdups.csv, id 1iHC4iG-wXubMXgzDqpOlYcUvBRn_okBx
title ParsedData.csv, id 17OgnBIk5YAEGT-taewzPyohT5Uca9YTh
title Sample ZIP Codes.csv, id 19DXxsDqZVjxcXKlkpNX2gTnEDYA8OdyH
title CSVGeocode_example.csv, id 1coxtdXQbXRk-DEthztJ6OJO2xhpBbKyf
title FuzzyData2_merge.csv, id 1ChL09jhmpJup_xOT6Zo6J2FNW3LwcJE9
title State Populations.csv, id 1VmWPg7AwjxqFjKBYW21zY8nd56fxlqAC
title PetStoresDATE.csv, id 1ir1ECa-WlFnDTbdkq3dJJu2aN642Gr8k
title DATE.csv, id 19irr9IbJeLqkvdV5foOnXJOqtgqaYyyX
title Clothing_Search.csv, id 1ASHIMMOj9hzv1eAz4Wyu15MR3OT070K1
title MyCustomers.csv, id 1tp_USIHN-_VOB5Be6zOnZwv1_S8zBOLX
title regexPhone.csv, id 1SsNwZKQwZSxFmCC9jF9ncGahw5QKf_Pe
title Customers.csv, id 1nzJRXkMUwRtE5OGpA6oDlSZagkh0ZJPa
title images.csv, id 1Xzlz4yFXfLPQBEpHlwKePywOdZzy4B1D
title compdcs.csv, id 1eoyKYAnDlmXBbHDGZj1q1DfHl1W94qCQ
title projop_wparm.csv, id 1yPxdQxTkiUuJobg2ktrf5qLZonbgevPP
title coordinate_axis.csv, id 19yC6uPw6Zyo7lSwvLsAJhI-sU_KEhG66
title pcs.override.csv, id 13Orev8qRYK78_snww_DRlnzbtuVgpsyw
title s57agencies.csv, id 1MRZUlIG_ci6dbMS46chvpSM5CvSXey9-
title datum_shift.csv, id 1Qk1FKYkwx8xfibHEfO6LZhsIA9sKx2Vr
title ellipsoid.csv, id 1nzlpzsOvbKEc1sOR5TmoW_CXt-mkebzo
title s57objectclasses.csv, id 1ZYJg-lInDMynWgPepwNddJeKjkTNfTSL
title s57objectclasses_aml.csv, id 1dSCXUf22X9I6MsptMTorbN0LlhT5yRYJ
title gcs.csv, id 13ClnFnBPORvIxiTuUxJxs9YkeQAeNjjI
title stateplane.csv, id 1NFsnRb2hPDenLZxC-3IzsZvUlccoUdYa
title unit_of_measure.csv, id 1OdSgEmdYfRYNYdVJWm_jlRoIbigOMhu0
title gt_ellips.csv, id 1jlB5I32MG8wWjveADJu0255bE4N1RPPh
title s57attributes_aml.csv, id 1BA60ILF5vE6OAJmooiKO8Off8woB55Vw
title prime_meridian.csv, id 1znMbHdBYxnU6e-hPXng-yLZX4c7geK5q
title geoccs.csv, id 1aMOI_NczmYjyK-dmTvC694NYq7SDoadO
title s57expectedinput.csv, id 18uJOqOIeAM1vbrMv-RisXb2ijCY6UwJS
title s57attributes_iw.csv, id 1He6xqckZ6sbrOnfE6nptFnRSO-sq7r3s
title vertcs.csv, id 11BECwWe2agjGTihnUpJwjVuqjsr9lYiJ
title pcs.csv, id 1dAq3NJhNp_3Y0eGEOg48fx43UtvF5mit
title s57objectclasses_iw.csv, id 1DA5XGgsBLZghnd6bsxPj0UPrryLqYZCN
title gcs.override.csv, id 174Z9AREag82UwqYTXIPFGhvMzAe9FAAR
title gdal_datum.csv, id 1XZKK_PMbmtzeEprsa94TKG4d20s6MWYE
title vertcs.override.csv, id 1o6tSPiUDgmkGr1wwMRPx74ALqmVZQkYx
title s57attributes.csv, id 14knZBvapl62qSbZQiFSEK2MrfH8lbO7T
title gt_datum.csv, id 1sUISt-ytp4EFxFHcW2A7zpb_aqzzT0bI
title images.csv, id 1y53nbot6HRG157hmdf_gPaSEG2G3bGcZ
title State Populations.csv, id 1i90W1szflVG9HGs6s4_zNCvBw_YZWhm1
title lookup.csv, id 19dHxfq1xYOTzeN7fu5Mt1sTFeuiP1ZsE
title FuzzyData2_mergewithdups.csv, id 1BrIsJmxiuRyy-TifDxvFjUlTOGkeQfnY
title ParsedData.csv, id 1tfX2R-nZgBgpRmtxYFY5kICB_ZqlRjdl
title Sample ZIP Codes.csv, id 17LbxCEjdZkQu8JgPMV9eBhaqZh0pV3bf
title CSVGeocode_example.csv, id 1toOXitiS5vYyG2sfp3W91CIfqnaYyjG0
title FuzzyData2_merge.csv, id 1YIn6isXew4dCcdQP3h4R9zMc8kja2hgR
title State Populations.csv, id 1cG9785-JwZDsrk9ovvNsCPs3Xw88AGJ_
title PetStoresDATE.csv, id 1jNLntj2pncya9WcMZf38qPvfdB0xkJWe
title DATE.csv, id 18_ItY8HxYvSn-T2AMzC0uTy3eH10tavU
title Clothing_Search.csv, id 11Ex87IbRh3DIhqqRylBZRBTOS6sZ-dUA
title MyCustomers.csv, id 1eJao3LHRE8qBV1JaKQEw8nlPCOS6l3FG
title regexPhone.csv, id 1wu1ihaZAvyMi6QLmXp9fjY8iXKTROyHX
title Customers.csv, id 1eh7lFuJhwKuzo7C93wt46lSEA11y8ztI
title lookup.csv, id 1_UzJ60WXdxQnPTF8IrY1Breon5iJvJNz
title FuzzyData2_mergewithdups.csv, id 1_Y5LQBjc5C-fHzBQJhF6ZLvMwF8pSf5w
title ParsedData.csv, id 1z-FBBFmt6MuqpxIyKxMTNLJg1cp2odEj
title Sample ZIP Codes.csv, id 1_hVjQJNPeoVcF2aWBLO_QH7z2uldwyXH
title CSVGeocode_example.csv, id 1exvUZeiq3dZFgXPkeWCzcKqPzcXo7jsr
title FuzzyData2_merge.csv, id 1yotNRfqc3q45PuwlFh9Q4DrQVDOBopSK
title State Populations.csv, id 1UdI87_Y0g93hIjp0tJQ3_TVi5aT4RpwX
title PetStoresDATE.csv, id 1TJsnZFaTGKWR65FRmvLZewpRZbIwmZBE
title DATE.csv, id 1K3ropw_sb7KmLeLIwE3V6XDZ2YbuWOLw
title Clothing_Search.csv, id 1131GUbOKmKrvNdvXfLGOu4QfX_8OgU16
title MyCustomers.csv, id 1PaEXdIoAwgKUAN0dxdgzPZ7H1YHTKJIv
title regexPhone.csv, id 1SDzp0K-ra0jXn3XcPg9IjawD52pBZ5qb
title Customers.csv, id 1AbvhEHOCJh1zTY_UbR5yrUT1FkZ3AHMN
title images.csv, id 1FWjfJIc1BUvJqaf5DZ---dMRVDTs8A7_
title State Populations.csv, id 1dCv37N_pynrvqLvIuCUvk1FuwX_eJHKA
title images.csv, id 14heWItNz3V4TV6je282PLddsaJMGuFQG
title State Populations.csv, id 1Jr1U2FivmLJUrpQQ5TXAwQW6ySJeY5qL
title lookup.csv, id 1dZ2XvVIZ6cB9SmBDAwPTiMipGY6W2Nbb
title FuzzyData2_mergewithdups.csv, id 1C41EE2ZfCXP7bGd9PZCdfpQkI2Rkd0qm
title ParsedData.csv, id 10YoTostTPpvX6l3SAfkBorL2Rwbjp1Yp
title Sample ZIP Codes.csv, id 1lPopMQkKOuIaKceLTmoNJkgqAXpF30Cv
title CSVGeocode_example.csv, id 1b1X7-UWbASzdP22b942Wf2KdZkZ3q5g6
title FuzzyData2_merge.csv, id 1BHP4UiBvJ1DGZ8jA0HMTxQuqbVD8JSbI
title State Populations.csv, id 11mxYVqxZEgVaJGKzgtHUoyXrio20Fcji
title PetStoresDATE.csv, id 15J4kUEKDpsd6Hgzl6j2T940qm2Xlsw7G
title DATE.csv, id 1fI4U3hbLX81OeH3TIpWK4lDd4EB9os6x
title Clothing_Search.csv, id 1jDGT1qPHRKnWAyAXN40e4OjjZovqLFG6
title MyCustomers.csv, id 1lnD1ITbSKKIKMsLX9Npf6zTZ0V3Gi5W9
title regexPhone.csv, id 1QZzFdVKBHqylpHEn_BFwb1YPp63rkWTu
title Customers.csv, id 13Hd51mQKCLrJVi_PcxDpDtqmSJ-cr65p
title images.csv, id 1ieDYqPj0A-GjW4Zch3OFr_C3JeNg8md8
title lookup.csv, id 1d9lpSzrvRkLxqncP7FZxoRSinJnwMbrL
title FuzzyData2_mergewithdups.csv, id 1BRfWJNIk_fpxiEg1CM9H0PPwztkMXL3q
title ParsedData.csv, id 18vOqn4Xxd0rsOQXesWzOthorKCkynWF2
title Sample ZIP Codes.csv, id 1QM-Vocqas29OZ3kAlLW710NbqMC2cJjI
title CSVGeocode_example.csv, id 1u9U9VMg_RjFqba7MWinnzF1AkaAxvL_a
title State Populations.csv, id 1iU0y4ToGYi0IcGw6vc34TTBbfUtubuav
title FuzzyData2_merge.csv, id 1dUuPMkIViJjNgXzp0Dh_83xqIY1QxXPM
title DATE.csv, id 1lR_tZjwXGCHuEKzWUlNsfRy8kDVRjnhL
title PetStoresDATE.csv, id 1LDvTvv2BXtAYJOozAvkeOeHEFmXjafBJ
title Clothing_Search.csv, id 1qGbQOcUsft6_70E5dT8k0UTYVZTNA4aa
title MyCustomers.csv, id 1_sNYFJ2FzAe-reQqGwj7jc4YPh4awSfc
title regexPhone.csv, id 1fdeJuX_yL-UJh2jp5yqnepSKXOyv9h2y
title Customers.csv, id 1p9y86gSzYu7hmG1IOncqEYDjvcS0e-Gq
title csv.py, id 1SyXifDhogGaUS4KgcVXy6le711MVi7Tu
title images.csv, id 1v-1bM7TlZSvKgH7WLbQLgkjYjDo7lhzL
title lookup.csv, id 1Ur-Ingx8rRmmGqxpRBa8twlPTK9fbdWe
title FuzzyData2_mergewithdups.csv, id 14ERjg-NGRbCahiOXj92yvdl4UUsHY-Os
title ParsedData.csv, id 1LPAMG3psuBtQcIpbfGUWFbK8ezbhlPz5
title Sample ZIP Codes.csv, id 1PvtMx8ZlnpY_Srbyk1U95klIPVIBn1vw
title CSVGeocode_example.csv, id 1AkCmTSk93aYozYQlhgWALQQ3dYhe_WF9
title State Populations.csv, id 1z61RuE5Uw5IJsKCmEPnBjIDyfHB-swwO
title FuzzyData2_merge.csv, id 1GnYUD5YnEXYbfQl7GWyUpHhWjdgMm2TY
title PetStoresDATE.csv, id 1zHif7RD58VkSTTb7RvMt4sgCqpUUIoOa
title DATE.csv, id 1U41fnaT32zq58L_hyHRfBGN7YXoC5GzA
title Clothing_Search.csv, id 1Yxb-Tz3LidSjsgvQjyOvKmuYqMGvSUMh
title MyCustomers.csv, id 17TVGne1IXvqc9X1aRaGoQ8-FZHlolcgC
title regexPhone.csv, id 1vNTq_mzsbNzoR_dgA9DwUFEhQOZhlozD
title Customers.csv, id 1QPT_7uTHKfshhkwDtlJILaz9prJcFb0-
title FuzzyData2.csv, id 1wdAF9qgnOXXyiWNgxK2hBO5i7uVnrGqI
title State Populations.csv, id 11Mp9RcB5Wi3fwJI-L2whdZzkCWemoLb8
title images.csv, id 1w4i3pyK1QxUkxsIMLWNfqEb5THvtvkHB
title images.csv, id 1XEFONrw1HwELViiJ_FVtFZd2wktGV_QY
title lookup.csv, id 1B5CDBENgceG8cV6hvodmFx23ZHNiaBL6
title FuzzyData2_mergewithdups.csv, id 180TAy_QwfHU2S74vZpOb5AoFOFYD7Vva
title ParsedData.csv, id 1N4mozK1ozmVPyWLzSk-WFdmF4A9NYlQd
title Sample ZIP Codes.csv, id 1w-Z02zWBNdz6c3O95K19tlQAQRTpTP8a
title CSVGeocode_example.csv, id 1zmOjcfMuMOobtsKzEL6xor1HHipe0-ok
title State Populations.csv, id 1GzJIuSMowGrhmV9h1-kDRTCXE-n70PZL
title FuzzyData2_merge.csv, id 16mn9gBgAQkdJtbNcQtsDhgHYNTTyOjFL
title DATE.csv, id 18Zgmhw7f6uS6MKzeGT5UxFuEcasAKopf
title PetStoresDATE.csv, id 15MzBW_3tgKLXAUr3jexmjCoqw7BtnFQ5
title Clothing_Search.csv, id 1ndwLGzizxXThmnSwV_4CeXXp2h6p8TX-
title MyCustomers.csv, id 13fbNwuKFAJ4lH6jlSyxa6S0y5HMGBfbw
title regexPhone.csv, id 1j4IOU-VqRJb7LLAOBr1MVEfcynOBIy05
title FuzzyData2.csv, id 10CUvU3oeLL7WcyJwT1iKylJ3Z3CTLzRk
title Customers.csv, id 168QCS-UrVYHXZUertaekKBQCgja3Djmr
title FuzzyData2.csv, id 18kUDxK3vBkc3xeW4EBXtDxvbOmC7jOPe
title State Populations.csv, id 1-WJCPdzzYKzk4DnC8H_PRNBubh1LSmuP
title lookup.csv, id 1dWAnprm2q2S_tZbILXMYNMBFOWwntw2d
title FuzzyData2_mergewithdups.csv, id 14Yzue_4Dti5tEDgOdX9EgBvcZ-bMHkL0
title ParsedData.csv, id 1K67oH84Y_S-4t2s8QFMLrJzgedjw1ZOT
title Sample ZIP Codes.csv, id 1YaPHMP84H5rQhR8PIm1ntc5IWQK4HJdv
title CSVGeocode_example.csv, id 1zKQYBZdCxs1YbQWdnSHGs3WdH1tU9Ccf
title FuzzyData2.csv, id 1Wq0_d4mkm55me5cX42bWZa7wtc5gxCTI
title FuzzyData2_merge.csv, id 1xgh8sjjJ0_0m3ypZ2hgCCIf_PcpUvLxn
title State Populations.csv, id 1nDiULTc3ib-pGzVsjMt_R86Md8iBzMOS
title DATE.csv, id 1NxKHZcMDBMJOf35AnPctK-KMeBSYOu9u
title PetStoresDATE.csv, id 1yCf3Ramh-D1GdEz9xBNLJkz5hjFWE9ZN
title Clothing_Search.csv, id 1J4wGVlOIyCbWdUHgnVorHKfe0Z4EhCA7
title MyCustomers.csv, id 1fAsURr73XHl8rRhjIOTrr-M9cccgR2YC
title FuzzyData2.csv, id 1c9JrhE-9HIv35D-tywDX39RB8_09KPQZ
title regexPhone.csv, id 1fxP4t77yAtsnp3InSGXb8rfOKeMU07Zv
title Customers.csv, id 1x82EuWhdOg1yd54JN6WQPWuubTVfWuPy
title FuzzyData2.csv, id 1PS6C6c60jMtOVBBQCmIKSJKA2HOlBuYa
title FuzzyData2.csv, id 1bEHeAeI4aGvvuMZ5_h2V1iLPEfDMhH02
title FuzzyData2.csv, id 1_CI4uUUId80zi9nSiFEXZz2-to8lu--U
title PS1_Data.csv, id 0Bw7LkoymU5okd1FoVVZGZ21VR1E
title caravan-insurance-challenge.csv, id 1_rc4ZWf2XDj5UcpU5YYBMhQPlJYPg166
title stock_data.csv, id 0ByPBn4rtMQ5HaVFITnBObXdtVUU

In [0]:
# Download the "modes performance to visualize.csv"

file_id = '0Bw7LkoymU5okWC10Yk1sTThkdDBxRGo3X1ZoZWVyVGhYcWgw'
downloaded = drive.CreateFile({'id': file_id})
#print('Downloaded content "{}"'.format(downloaded.GetContentString()))
downloaded.GetContentFile("performance.csv")

In [0]:
performance_df = pd.read_csv('performance.csv')
print(performance_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 27 columns):
variables                   5 non-null object
RMSE                        5 non-null float64
SD.Error                    5 non-null float64
RMSE.Actual.change          5 non-null float64
SD.Actual.change            5 non-null float64
MPE                         5 non-null float64
SD.PE                       5 non-null float64
MAPE                        5 non-null float64
SD.APE                      5 non-null float64
Accuracy.2X2                5 non-null float64
F1.score.Up                 5 non-null float64
F1.score.Down               5 non-null float64
Accuracy.3X3.5.             5 non-null float64
Bad.predictions.3X3.5.      5 non-null float64
Accuracy.3X3.2.5.           5 non-null float64
Bad.predictions.3X3.2.5.    5 non-null float64
F1_ave                      5 non-null float64
F1_ave7525                  5 non-null float64
RMSE_point                  5 non-null int64
F1up_point                  5 non-null int64
F1down_point                5 non-null int64
F1ave_point                 5 non-null int64
F1ave7525_point             5 non-null int64
A3x3_point                  5 non-null int64
B3x3_point                  5 non-null int64
points_total                5 non-null int64
Top_models                  5 non-null int64
dtypes: float64(17), int64(9), object(1)
memory usage: 1.1+ KB
None

In [0]:
performance_df.head()

                                           variables  ...  Top_models
0  VECM_1_1,P1A_03,AIS_Panamax,TC5~TCE,P2A_03,BCI...  ...           1
1  VECM_1_2,P1A_03,AIS_Panamax,ICE_TIB4,ICE_SB1,I...  ...           1
2  VAR,P1A_03,AIS_Panamax,ICE_NCF2,CME_CL2,ICE_TI...  ...           1
3  VAR,P1A_03,AIS_Panamax,ICE_NCF2,ICE_ATW2,CME_N...  ...           1
4  VAR,P1A_03,AIS_Panamax,CME_NG1,ICE_TIB2,ICE_AT...  ...           1

[5 rows x 27 columns]

Visualizations

In [0]:
feature_lst = []
for i in range(performance_df.shape[0]):
  feature_lst+= performance_df.variables.str.split(",")[i]

In [0]:
s= feature_lst
feature_df = performance_df.variables.str.get_dummies(sep=',').reindex(columns=s)
feature_df.shape

(5, 80)

In [0]:
_,i = np.unique(feature_df.columns, return_index=True)
feature_df = feature_df.iloc[:, i]
feature_df.shape

(5, 29)

In [0]:
feature_df

   AIS_Panamax  AWS  BCI  CME_CL2  ...  TC5~TCE  VAR  VECM_1_1  VECM_1_2
0            1    0    1        0  ...        1    0         1         0
1            1    0    0        0  ...        0    0         0         1
2            1    1    0        1  ...        0    1         0         0
3            1    1    0        0  ...        0    1         0         0
4            1    1    0        0  ...        0    1         0         0

[5 rows x 29 columns]

In [0]:
performance_df.merge(feature_df, on=feature_df.index)

   key_0                                          variables  ...  VECM_1_1  VECM_1_2
0      0  VECM_1_1,P1A_03,AIS_Panamax,TC5~TCE,P2A_03,BCI...  ...         1         0
1      1  VECM_1_2,P1A_03,AIS_Panamax,ICE_TIB4,ICE_SB1,I...  ...         0         1
2      2  VAR,P1A_03,AIS_Panamax,ICE_NCF2,CME_CL2,ICE_TI...  ...         0         0
3      3  VAR,P1A_03,AIS_Panamax,ICE_NCF2,ICE_ATW2,CME_N...  ...         0         0
4      4  VAR,P1A_03,AIS_Panamax,CME_NG1,ICE_TIB2,ICE_AT...  ...         0         0

[5 rows x 57 columns]

In [0]:
import plotly
plotly.__version__
plotly.tools.set_credentials_file(username='ritalulu123', api_key='mcPsXGYiHGp6rrOlr7YQ')

In [0]:
import plotly.plotly as py
import plotly.graph_objs as go

In [0]:
data = [
    go.Bar(
        x=feature_df['feature'], # assign x as the dataframe column 'x'
        y=feature_df['num']
    )
]

# IPython notebook
py.iplot(data, filename='pandas-bar-chart')

#url = py.plot(data, filename='pandas-bar-chart')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~ritalulu123/0 or inside your plot.ly account where it is named 'pandas-bar-chart'

In [0]:
performance_df["variables"][1]